<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ifttt?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">ifttt</property>
    <property name="hibernate.connection.password">ifttt</property>
    <mapping resource="UserInfoPO.hbm.xml"/>
    <mapping resource="TaskPO.hbm.xml"/>
    <mapping resource="LogPO.hbm.xml"/>
    <mapping class="" file="" jar="" package="" resource="SMSPO.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
