/*
link with personalpage.html
*/
/* 
    Created on : 2013-11-23, 19:37:46
    Author     : TianChi
*/
#top{
    position: absolute;
    top:0px;
    left: 0px;
    height: 45px;
    width: 1360px;
    margin-bottom: 10px;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border-bottom: 1.5px solid #ccc;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) ;
}

#logo{
    position: absolute;
    top:0px; 
    left: 100px;
    height: 100%;
    width:250px;
    padding-top: 7px;
    border-right: 1.5px solid #ccc;
}

#title{ 
        position: absolute;
        left: 400px;
        top: 12px;
}
#title ul{
	list-style: none;
}

#title li{
	float:left;
	margin-right: 50px;
}

#title a{
	font-size:16px;	
        color:#555555;
        text-decoration: none;  
        font-family: Verdana;
}

#title a:hover{
    color: #50B1FE;
}
