/*link with homepage */
#top{
    position: absolute;
    top:0px;
    left: 0px;
    height: 50px;
    width: 1366px;
    margin-bottom: 10px;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f3f3f3), color-stop(.1,#fff));
    border-bottom: 1.5px solid #ccc;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2) ;
}

#logo{
    position: absolute;
    top:0px; 
    left: 100px;
    height: 100%;
    width:250px;
    padding-top: 10px;
    border-right: 1.5px solid #ccc;
}

#title{ 
        position: absolute;
        left: 400px;
        top: 13px;
}
#title ul{
	list-style: none;
}

#title li{
	float:left;
	margin-right: 50px;
}

#title a{
	font-size:16px;	
        color:#555555;
        text-decoration: none;  
        font-family: Verdana;
}

#title a:hover{
    color: #50B1FE;
}

#signup{
        position: absolute;
	right: 20px;
	top: 15px;
        font-size:10px;
}

#signup button{
	height:25px;
	width:93px;
	padding-top:4px;
}

#signup label{
        color:#555555;
        font-family: Verdana;
}

#header {
        position: absolute;
        top:80px;
        left:0px;
        right: 0px; 
        width: 1366px;
	height:400px;
	background-image: url(../img/back2.jpg);
	margin-bottom: 10px;
        margin-top: 10px;
}



#signin{
        float:right;
	margin-right: 130px;
	margin-top: 100px;
	font-size: 25px;
}

#mybiglabel{
        margin-top: 50px;
        margin-left: 300px;
        float:left;
        color:#ffffff;
        font-family: Microsoft YaHei UI;
}

#mybiglabel h1{
    line-height: 80%; 
}

#mylist1{
    position: absolute;
    border-radius: 5px;
    top:510px;
    width:400px;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2) ;
    left: 470px;
    padding-left: 150px;
    font-size: 25px;
    font-family: Microsoft YaHei UI;
}

#googlelogo{
    position: absolute;
    width:20%;
    left: 550px;
    top:720px;
    font-size: 20px;
    font-family: Microsoft YaHei UI;
}

#footer {
        position: absolute;
        left: 0px;
	top:880px;
	height: 80px;
        width:1360px;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
}

#footer p {
        position: relative;
        top: -20px;
        color:#555555;
}

